@font-face {
    font-family: 'rumble_brave_ornaments_gradRg';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_ornaments_gradient-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_ornaments_gradient-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_ornamentsregular';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_ornaments-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_ornaments-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_outline_regular';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_outline-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_roughregular';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_rough-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_rough_script_It';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_script_rough-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_script_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_scriptitalic';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_script-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rumble_brave_shadow_3dregular';
    src: url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_shadow_3d-webfont.woff2') format('woff2'),
         url('https://github.com/seybold/axostil/raw/master/css/webfontkit-rumble/rumble_brave_shadow_3d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}